.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--first-color);
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: var(--body-color);
}

.copyright p{
    color: var(--body-color);
}